[submodule "morphe-patches"]
	path = morphe-patches
	url = https://github.com/NexAlloy/morphe-patches
	branch = nexalloy
[submodule "morphe-patches-library"]
	path = morphe-patches-library
	url = https://github.com/NexAlloy/morphe-patches-library
	branch = nexalloy
[submodule "quiet-patches"]
	path = quiet-patches
	url = https://github.com/2eno/quiet-patches
	branch = main
